<%= render 'shared/page_title', title: @user.username %>

<p>
  <h1>User : <%=  %></h1>
</p>
<div class="row">
  <div class="col-md-12">
    <%= link_to "Edit this USER", edit_user_path(@user), class: "btn btn-warning pull-right"%>
  </div>
  <br>
  <br>
</div>
<div class="row">
  <div class="well col-md-2">
    <div class="well">
      <p>PIC GOES HERE</p>
      <% if @user.default_pic == 1 %>
        <p>Male</p>
      <% elsif @user.default_pic == 2 %>
        <p>Female</p>
      <% else %>
        <p>Something went wrong</p>
      <% end %>
    </div>
  </div>
  <div class="col-md-10">
    <div class="well">
      <p>Email: <%= @user.email %></p>
    </div>
  </div>
</div>

<h5><%= link_to "Return to all Users", users_path, class: "btn btn-success btn-small" %></h5>